/*The main css of the websites*/

br {
	display: block;
        margin-left: auto;
	margin-right: auto;
}

/*html styles things*/
html {
      padding-bottom: auto;
      background-color: #191931;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
/*///////////Menu Bar///////////////////////////////////////*/
.nav {
      display: block;
      background-color: #4d4dff;
      padding-bottom: 15px;
      padding-top:5px;

}
.nav :hover {
  color: #2A2A53;
  transition: 0.3s;
}

.bar {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  width: 250px;
  padding-left: 10px;
}

.logo {
  float: right;
	font-family:"Have_Heart";
  font-size: 40px;
  color: white;
  margin-top: 0px;
  margin-right: 10px;
}

.topnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d4dff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  font-family:"bebas";
}

.topnav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.topnav a:hover {
  color: #2A2A53;
}

.topnav .closebtn {
 /* position: absolute;*/

  top: 0px;
  left: 25px;
  font-size: 50px;
  margin-left: 0px;
  padding-top:0px;
  padding-bottom:0px;

}

@media screen and (max-height: 450px) {
  .topnav {padding-top: 0px;}
  .topnav a {font-size: 18px;}
}
/*///////////////////////////////////////////////////////////////////*/

body {
	margin: 0px;
}

.apuImage{
  align: center;
}
.apuImage img {
margin: auto;
max-width: 90%;
display: block;
}

h2 {
  display:block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	/*color: #fff;*/
	font-size: 50px;
	font-family:"Open Sans Condensed";
  animation: rainbow 3s linear;
	animation-iteration-count: infinite;
}

@media (max-width: 480px){
h2{font-size: 40px;}
}



h3 {
    text-align: left;
     color: #D22B2B;
     margin-bottom: 20px;
     font-size: 50px;
	   font-family:"Open Sans Condensed";
     text-decoration:underline;

}

.blogPost {
	   margin: 40px;
     margin-left: 75px;
     font-size 50px;
     color: #fff;
     font-family:"bebas";
}



.blogPost a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;

}

.blogPost a:hover {
  color: #4d4dff;
  transition: 0.3s;
}
/*//////////////////////////////*/
@media (max-width: 480px){
.blogPost{
  display: block;
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.blogPost a{
  font-size: 30px;
}

}
/*///////////////////////////*/
.videoPost {
    margin: 40px;
    color: #fff;
}

.wlcm {
display: block;
margin-top: 0px;
margin-bottom: 0px;
color: #fff;
font-size: 20px;
text-align: center;
}
.wlcm p {
margin-top: 0px;
margin-bottom: 0px;
}

@media (max-width: 480px){
.wlcm{font-size: 15px;}
}

li {
font-size: 30px;
}

li::marker{
margin-right: 10px;
}

.blogText {
font-family:"bebas";
font-size: 50px;
}

@media (max-width: 480px){

}

/*///////*/

/*///////////////////////Bottom Page////////////*/
.icon {
  width:25px ;
  height:25px;
  padding-left: 5px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.socialIcons {
  position: absolute;
  left: 50%;
  transform: translate(-55%, -55%);
  padding-top: 15px;
}

.icon:hover {
  opacity: 0.3;
}
.logoBottom {
	font-family:"Have_Heart";
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin:0px;
}
.bottomMessage {
	         color: #818589;
		       text-align: center;
           font-family:"Roboto";
           font-size:12px;
           margin:5px;
           margin-bottom: 50px;
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
  }
