.cours {
	   margin: 40px;
     margin-left: 75px;
     font-size 50px;
     color: #fff;
     font-family:"bebas";
}

.cours a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.cours a:hover{
  color: #4d4dff;
  transition: 0.3s;
}

.td {
	   margin: 40px;
     margin-left: 75px;
     font-size 50px;
     color: #fff;
     font-family:"bebas";
}

.td a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.td a:hover{
  color: #4d4dff;
  transition: 0.3s;
}

.examens {
	   margin: 40px;
     margin-left: 75px;
     font-size 50px;
     color: #fff;
     font-family:"bebas";
}

.examens a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.examens a:hover{
  color: #4d4dff;
  transition: 0.3s;
}

.solExamens {
	   margin: 40px;
     margin-left: 75px;
     font-size 50px;
     color: #fff;
     font-family:"bebas";
}

.solExamens a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.solExamens a:hover{
  color: #4d4dff;
  transition: 0.3s;
}

.hrSmi2{
background-color: #fff;
margin: 20px;
height: 2px;
border: none;
padding: -1px;
}

  @media screen and (max-width: 480px){
.cours li{
  font-size: 25px; !important
  display: block; !important
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px; !important
  margin-right: 0px; !important
}
.td li {
  font-size: 25px; !important
  display: block; !important
  margin-bottom: 10px;
  margin-top: 10px; !important
  margin-left: 0px; !important
  margin-right: 0px; !important

}

.examens li {
  font-size: 25px; !important
  display: block; !important
  margin-top: 10px;
  margin-bottom: 10px; !important
  margin-left: 0px; !important
  margin-right: 0px; !important
}

.solExamens li {
  font-size: 23px; !important
  display: block; !important
  margin-top: 10px; !important
  margin-bottom: 15px;
  margin-left: 0px; !important
  margin-right: 0px; !important
}

.algbH{
  font-size: 30px;
}

.hh3{
font-size: 30px;
}

}
